* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto sans thai;
}
body {
    background-color: #f4f4f4;
}
main {
    margin: auto;
}
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100svh;
}
.firstCard {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 10px;
    background-color: white;
    height: 400px;
    width: 300px;
}
img {
    width: 260px;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.caption {
    width: 100%;
}
.linethroughPrice {
    padding-right: 10px;
    text-decoration: line-through;
    color: black;
    font-weight: 450;
    font-size: 20px;
}
.price {
    font-weight: bold;
    color: red;
    font-size: 20px;
    width: 100%;
}
.price figcaption span {
    font-size: 16px;
}
.firstCard div p {
    display: flex;
    gap: 4px;
}
@media screen and (max-width: 956px) {
    .cardContainer {
        flex-direction: column;
        padding: 20px;
    }
    .firstCard {
        height: auto;
        width: 100%;
    }
}
