*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Noto sans thai;
    
}
ิbody{
    background-color: #f4f4f4;
}
main{
    margin: auto;
}
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}
.firstCard{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    align-content: center;
    margin: 10px;
    gap: 8px;
    padding: 12px;
    width: 300px;
    background-color: white;
}
img{
    width: auto;
    height: auto;
    border-radius: 20px 20px 0 0;
}
.caption{
    
}
 .linethroughPrice{
    padding: 0px 10px;
    text-decoration: line-through;
    color: black;
    font-weight: 450;
    font-size: 20px;
 }
 .price{
    font-weight: bold;
    color: red;
    font-size: 20px;
 }
 .firstCard div p{
    display: flex;
    gap: 4px;
 }