* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
.main-header {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
    justify-content: space-between;
    height: 80px;
}
.main-nav {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 1600px;
    width: 80%;
    gap: 16px;
}
.nav-logo {
    display: flex;
    flex-shrink: 0;
}
.nav-search {
    display: flex;
    min-width: 150px;
    margin: 0 8px;
    flex-grow: 2;
    width: 100%;
}
.Search {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
}
.nav-actions {
    display: flex;
    gap:8px;
    flex-shrink: 0;
}
.nav-actions a {
    color: white;
    text-decoration: none;
    display: flex;
    padding: 8px;
    background-color: blue;
    border-radius: 8px;
}
/* @media (max-width: 497px) {
    .nav-actions {
        display: flex;
        flex-direction: column;
        background-color: blue;
        border-radius: 8px;
    }
    .nav-actions a {
        color: white;
        text-decoration: none;
        display: flex;
        padding: 4px;
        font-size: 12px;
    }
} */
